<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/image/image.png">
        <link rel="stylesheet" href="css/styles.css">
        <body>
            <div class="main-content">
                {{>header}}
                {{text}}
                </div>
             {{>footer}}
        </body>
    </head>
</html>